*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: lcd;
    src: url("quartz.ttf");
}

body{
    user-select: none;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: 100%;
    position: fixed;
    width: 100%;
    gap: 8px;
    padding: 8px;
}

.container{
    background-color: #212121;
    border-radius: 8px;
    border: 1px solid #353535;
}


#caliper,
svg {
    width: 100%;
    height: auto; 
}


.movement{
    transform: translateX(-312px);
}


#caliper:has(.movement:hover) .movement{
    cursor: move;
}


#bottom{
    height: 100%;
    width:  100%;
    
    display: flex;
    gap: 8px;
}

#bottom .container{
    flex: 1;
    height: 100%;
}

#bottom .container:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}







#readoutContainer{
    background-color: #1c1c1c;
    color: #fff;
    font-size: 0.8em;
    border-radius: 6px;
    padding: 8px;
}

#readoutContainer:not(.powered) #readoutLcd > div{
    opacity: 0;
}

#readoutFrame{
    background-color: #141316;
    margin: 4px 0;
    border-radius: 4px;
    padding: 6px;
    padding-top: 10px;
}

#readoutLcd{
    background-color: #4e5046;
    color: #171717;
    border: 3px solid #fff;

    
    height: 56px;
    

    display: flex;
    align-items: center;
    padding: 0 4px;
}

#number{
    font-size: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    flex: 1;
    font-family: lcd;
    padding-right: 8px;
}


    
#unit{
    visibility: hidden;    
}
    
#unit[milimeters=true] div:first-child{
    visibility: visible;
}
#unit[milimeters=false] div:last-child{
    visibility: visible;
}




.buttonRow,
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.buttonRow{
    gap: 24px;
}

.button{
    width: 32px;
    height: 12px;
    border-radius: 3px;
    background-color: gray;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
}

.button-red{
    background-color: #dc3545;
}

.button-blue{
    background-color: #007bff;
}

.button-yellow{
    background-color: #ffc107;
}