
#modal{
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
}

#modal:not(.modalOpen){
    display: none;
}

#modalWindow{
    min-width: 480px;
    max-width: 90%;
    min-height: 500px;
    max-height: 90%;
    background-color: #212121;
    color: #fff;
    padding: 16px; 
    border-radius: 8px;
    box-shadow: 0 0 5px 0 #000;
    display: flex;
    flex-direction: column;
    
}

#modalContent{
    flex: 1;
    display: flex;
    flex-direction: column;
}


#modalDrawingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#modalDrawingWrapper{
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    gap: 48px;
    position: relative;
    width: fit-content;
}

.modalDrawingCircle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #dc3545;
    display: flex;
    align-items: center;
    position: relative;
}

.modalDrawingCircle:nth-child(2){
    border-color: #28a745 !important;
}


.modalDrawingLine:nth-child(3){
    width: 10px;
    height: 2px;
    background-color: #007bff;
    position: absolute;
}


#modalDrawingWrapper > .modalDrawingLine:nth-child(3){
    width: 100%;
    margin: -20px;
}

#modalDrawingWrapper > .modalDrawingLine:nth-child(3)::before,
#modalDrawingWrapper > .modalDrawingLine:nth-child(3)::after{
    content: '';
    display: block;
    width: 2px;
    height: 55px;
    background-color: inherit;
    position: absolute;
    left: -2px;
    top: -8px;
}

#modalDrawingWrapper > .modalDrawingLine:nth-child(3)::before{
    left: 100%;
}


.modalDrawingLine:nth-child(4){
    width: 128px;
    height: 2px;
    background-color: #007bff;
    position: absolute;
    top: 50%;
}

.modalDrawingLine:nth-child(4)::before,
.modalDrawingLine:nth-child(4)::after{
    content: 'd1';
    position: absolute; 
    bottom: 100%;
    right: 120px;
}

.modalDrawingLine:nth-child(4)::after{
    content: 'd2';
    right: -10px;
}



#distanceToCenter{
    margin-bottom: 20px;
    font-size: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#distanceToCenter::before{
    content: 'Distância: ';
}




@keyframes pulseAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


#modalContent:has(.UI_textField:nth-child(1):focus-within) #modalDrawingWrapper > .modalDrawingLine:nth-child(3),
#modalContent:has(.UI_textField:nth-child(2):focus-within) #modalDrawingWrapper > .modalDrawingCircle:nth-child(1),
#modalContent:has(.UI_textField:nth-child(3):focus-within) .modalDrawingCircle:nth-child(2){
    animation: pulseAnimation 0.8s infinite ease-in-out;
}


#modalFooter{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}