*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: lcd;
    src: url("../quartz.ttf");
}

html, body {
    overscroll-behavior: none;
    touch-action: cross-slide-x;
    
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body{
    user-select: none;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: 100%;
    position: fixed;
    width: 100%;
    gap: 8px;
    padding: 8px;
    max-width: 1024px;
}

.container{
    background-color: #212121;
    border-radius: 8px;
    border: 1px solid #353535;
}


#caliper,
svg {
    width: 100%;
    height: auto; 
}


.movement{
    transform: translateX(-312px);
}


#caliper:has(.movement:hover) .movement{
    cursor: move;
}


#caliper:has(.movementHover:hover) .movementHover{
    fill: #007bff !important;
}


#bottom{
    height: 100%;
    width:  100%;
    
    display: flex;
    gap: 8px;
}

#bottom .container{
    flex: 1;
    height: 100%;
    max-height: 430px;
}









#bottom .container:last-child{
    padding: 32px;
}





button{
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 10px 16px;
    color: #fff;
    cursor: pointer;
    float: right;
}
button:hover{
    opacity: 0.8;
}

button:disabled{
    opacity: 0.25;
}


