
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* UI - Text Field */
.UI_textField{
    min-width: 200px;
    width: calc(100% - 24px);
    height: 48px;
    outline: 1px solid #757575;
    background-color: #212121;
    border-radius: 6px;
    /* margin: 16px 2px 32px 2px; */
    margin: 0 2px 30px 2px;
    position: relative;
}

.UI_textField_label{
    pointer-events: none;
    background-color: #212121;
    color: #757575;
    padding: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    transition: 100ms;
    position: absolute;
    left: 12px;
    top: -13px;
}



.UI_textField_input:placeholder-shown ~ .UI_textField_label{
    font-size: 16px;
    top: 10px;
}


.UI_textField:focus-within{
    outline: 2px solid #007bff;
}

.UI_textField_input:focus ~ .UI_textField_label{
    height: initial;
    font-size: 14px;
    color: #007bff;
    top: -13px;
}


.UI_textField_input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    caret-color: #007bff;
    color: #000000de;
    font-size: 16px;
    padding: 16px 12px 16px 16px;
}



.UI_textField_helper{
    visibility: hidden;
    font-size: 14px;
    color: #757575;
    position: absolute;
    padding-left: 16px; 
    left: 0;
    top: calc(100% + 2px);
}





.UI_textField_error .UI_textField_label,
.UI_textField_error .UI_textField_helper,
.UI_textField_error .UI_textField_input:focus ~ .UI_textField_label{
    color: #dc3545;
}

.UI_textField_error .UI_textField_input{
    caret-color: #dc3545;
}


.UI_textField_error,
.UI_textField_error .UI_textField:focus-within{
    outline-color: #dc3545 !important; 
}


.UI_textField_error .UI_textField_helper{
    visibility: visible;
}






.UI_textField{
    width: 100%;
}

.UI_textField_input{
    color: #ffffffde;
}